body {
  font: 1.2em/1.62 sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1em auto;
  padding: 0 .62em;
}

* {
  box-sizing: border-box;
}

.navbar {
  overflow:hidden; /* Hide overflow */
  background-color: #212121; /* Dark background color */
  border-radius: 5px 5px 0 0; /* Round corners */
}

.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: #cccccc;  /* Gray text color */
  text-align: right; /* Align text to the right */
  font-size: 15px;  /* Set text size to 15px high */
  padding: 10px;  /* Add some padding */
  text-decoration: none; /* Remove underline */
}

.navbar a:hover {
  background-color: #dddddd; /* Grey background color */
  color: #212121;
}

.header {
  padding: 10px;
  text-align: center;
  background-image: url("images/identity/banner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #303030;
  color: #ffffff;
}

.profile img {
  min-width: 128px;
  max-width: 15%;
  height: auto;
  border-radius: 2%;
  box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.6);
  transition: 0.3s;
}

.profile img:hover {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.6);
}

.userid a {
  padding: 2px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  color: #ffffffdd;
  font-size: 1.6em;
  font-weight: bold;
}

.userid a:hover {
  cursor:pointer;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.side {
  background-color: #424242;
  padding: 10px;
  top: 0;
  font-size: 1.2em;
  color: #ffffffcc;
}

.info {
  padding: 0px 15px;
}

.side a {
  display: inline-block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1em;
  color: #ffffffcc;
}

.social img {
  vertical-align: text-bottom;
}

.main {
  background-color: #424242;
  padding: 20px;
}

.tabs a {
  display: inline-block;
  background-color: #616161;
  border-radius: 5px 5px 0 0;
  color: #ffffffbb;
  text-align: center;
  font-size: 24px;
  padding: 4px 12px;
  text-decoration: none;
  position: sticky;
}

.content {
  background-color: #616161;
  padding: 10px 8px;
}

.row img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  overflow: auto;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: -1000px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup img {
  max-width: 100%;
  max-height: 540px;
  height: inherit !important;
}
.popup {
  margin: 10px 10px;
  padding: 5px;
  background: #fff;
  border: 1px solid #cccccc;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #666;
}
